target/
boot/
lib_managed/
src_managed/
project/plugins/project/
build/
project/boot/
project/plugins/target/
project/target/
*/target/*
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
.idea/
.idea/*
*/.idea/*
*.iml
*/*.iml
*.ipr
*.iws
.classpath
.project
.scala_dependencies
.target/
.cache
logs/*
*/logs/*
.settings/
log
log/*
*/log/*